<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <style>
        h1 {
            font-family: Arial, Helvetica, sans-serif;
            color: greenyellow;
            background: silver;
            text-align: center;
            height: 100px;
            padding-top: 50px;
        }
    </style>
    <h1>Server corriendo</h1>
</body>

</html>